body {
    font-size:  16pt;
}

header,

main,

footer {
    max-width: 760px;
    margin:  0 auto;
}

header, 
footer {
    background-color: hsl(298, 24%, 42%);
    box-shadow: 0 0 2rem hsl(0, 0, 47%);
}
h2 {
    color:darkgoldenrod;
}

header {
    background-color: burlywood;
    padding: 1.5rem;
}

header img {
    width: 300px;
    height: auto;
}

h1 {
    font-size: 2.4rem;
    color: purple;
    text-align: center;
    text-shadow: 0.5rem 2rem hsl(0, 0, 10%);
}
footer { background-color: chocolate;
    padding: 1.5rem;

}