body {
    display: flex;
	justify-content:space-between;
	justify-content: space-around;
	align-items: stretch;
    font-size: 16px;
	font-family: "ABeeZee", sans, sans-serif;
	color:aquamarine;
    background-color: brown;

}

header, footer{
	box-shadow: 0 0 2rem rgb(26, 4, 4);
}

header,

main,

footer {
    max-width: 760px;
    margin:  0 auto;
}

header, footer{
    background-color: hsl(298, 24%, 42%);
    box-shadow: 0 0 2rem hsl(0, 0, 47%);
}
header {
    background-color:#d64161;
    color: rgb(241, 138, 138);
    padding: 1.1rem;
    font: 2.4rem;
}

ul .navbar a {
	list-style-type: none;
	color: chocolate;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
ul.navbar li {
	display: block;
	color: blueviolet;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
	background: linear-gradient(90deg, transparent, yellow, transparent) top / var(--d, 0) 10px no-repeat;
    transition: 0.5s;
}
nav a:hover {
	--d: 75%;
}
.active {
	color: yellow;
}
main {
	display: flex;
	font-size: 0.8rem;
}

nav a:hover {
    color: blue;
}


footer {
    background-color: chocolate;
        padding: 1.5rem;    
}